[submodule "pokeyellow_showdown"]
	path = pokeyellow_showdown
	url = https://github.com/mpai17/pokeyellow.git
[submodule "EmulatorJS"]
	path = EmulatorJS
	url = https://github.com/mpai17/EmulatorJS.git
[submodule "pokemon-showdown-client"]
	path = pokemon-showdown-client
	url = https://github.com/mpai17/pokemon-showdown-client.git
